{% extends 'layout.html' %}

{% block body %}

    <table>
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>USER</b></td>
                <td><b>DECRYPT_PASSWORD</b></td>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ password["id"] }}</td>
                <td>{{ password["name"] }}</td>
                <td>{{ password["password"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}